.App {
  text-align: center;
  margin-top: 20%;
  display: flex;
  justify-content: space-evenly;
}

.App > div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 150px;
  background-color: teal;
  border-radius: 10px;
  box-shadow: 0px 0px 3px 3px cyan inset;
}
